.flex_container {
    border: 1px solid black;
    display: flex;
    width: 100%;
    font-family: robotoregular,Roboto,Arial,Helvetica,sans-serif;


}

.left, .right {

}

.left {
    border: 1px solid black;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.right {
    /*border: 1px solid black;*/
    width: 20%;

    background-color: #F5F5F5;
    /*margin: 0 0 auto auto;*/

}

.button{
    background-color: #73A24E;
    border: none;
    color: white;
    font-weight: 400;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    line-height: 1;
    box-sizing: border-box;
    width: 130px;
    height: 35px;
    border-radius: 4px;
    box-shadow: 3px 3px 2px gray;
}

.button:hover {
    background-color: #7ab949;
}

.nav {

    text-decoration: none;
    color: black;
}

.left * {
    margin: 5px;
}

.stage {
    display: flex;
    width: 50%;
    height: 100px;
    /*border: 1px solid gray;*/
    background-color: #676767;
    color:#FFFFFF;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: 22px;
}

.fan {
    display: flex;
    width: 80%;
    height: 200px;
    font-size: 30px;
    /*border: 1px solid green;*/
    text-align: center;
    border-radius: 4px;
    background-color: #73A24E;
    color:#FFFFFF;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
}

.zones_container {
    flex-direction: column;
}

.flex_row {
    flex-direction: row;
    flex-wrap: wrap;
}

.row {

}

.seat {
    display: flex;
    width: 70px;
    height: 70px;
    background-color: #F3DE2C;
    /*text-align: center;*/
    justify-content: center;
    align-items: center;
    /*border: 1px solid dodgerblue;*/
}