.flex_container {
    display: flex;
    width: 100%;
    height: 100%;
    font-family: robotoregular,Roboto,Arial,Helvetica,sans-serif;
}

.left, .right {

}

.left {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.right {
    width: 20%;
    background-color: #F5F5F5;
    height: 100%;
}

.button{
    background-color: #73A24E;
    border: none;
    color: white;
    font-weight: 400;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    line-height: 1;
    box-sizing: border-box;
    width: 130px;
    height: 35px;
    border-radius: 4px;
    box-shadow: 3px 3px 2px gray;
}

.button:hover {
    background-color: #7ab949;
}

.button:disabled {
    cursor: default;
    background-color: #7F7F7F;
}

.nav {
    text-decoration: none;
    color: black;
    align-self: center;
}

.left * {
    margin: 5px;
}

.stage {
    display: flex;
    width: 50%;
    height: 100px;
    background-color: #676767;
    color:#FFFFFF;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: 22px;
}

.fan, .vip_fan {
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    color:#FFFFFF;
    text-align: center;
    font-size: 30px;
    border-radius: 4px;
}

.vip_fan, .fan, .seat {
    transition: filter 0.3s;
    cursor: pointer;
}

.vip_fan:hover, .fan:hover, .seat:hover {
    filter: brightness(120%);
}

.fan {
    width: 80%;
    height: 150px;
}

.vip_fan {
    width: 100%;
    height: 75px;
}

.zones_container {
    flex-direction: column;
}

.flex_row {
    flex-direction: row;
    flex-wrap: wrap;
}

.row {
    justify-content: center;
}

.seat {
    display: flex;
    width: 20px;
    height: 20px;
    background-color: #F3DE2C;
    justify-content: center;
    align-items: center;
}

.Fan_zone { background-color: #73A24E; }
.VIP { background-color: #eada47 }
.Balcony { background-color: #cc47ea; }
.Parterre { background-color: #476dea; }
.VIP_fan { background-color: #f55e0f; }

.Sector_1, .Sector_2, .Sector_3, .Sector_4, .Sector_5,
.Sector_6, .Sector_7, .Sector_8, .Sector_9, .Sector_10  {
    background-color: #eaa947;
}

.chosenTicketsBlock {
    height: 500px;
    width: 100%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
}

.price_container {
    min-height: 70px;
    margin: 0 10px;
    display: flex;
}

.textToLeft {
    width: 70%;
}

.textToRight {
    text-align: right;
    width: 30%;
}

.navContainer {
    height: 60px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: inherit;
}

.block {
    display: block;
}

.unavailable_seat {
    pointer-events: none;
    background-color: #7F7F7F;
}

.chosen {
    background-color: #00ff07;
    cursor: auto;
    pointer-events: none;
}