.outlet {
    height: calc(100vh - 100px);
    overflow: hidden;
    overflow-y: auto;
}

body {
    background-color: #FFFFFF;
}

.mTop {
    padding-top: 100px;
}
.eventLine {

}

.eventBlock {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

/*margin: 0px;*/
}
.name{
    margin-left:80px;
    font-size: 28px;
}

.PerformerBlock{
    display: flex;
}

.forFooter {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navLink {
    color: black;
    text-decoration: none;
}