.container {
    display: flex;
    margin-right: 10px;
    margin-left: 60px;
    position: relative;
    flex-wrap: wrap;

}
.imageText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F0EFEF;
    font-size: 22px;
    transition: all .3s;
    letter-spacing: 1.25px;
    font-weight: bold;
    text-shadow: 0.5px 2px 6px rgba(255, 255, 255, 0.4);

}
.img{
    height: 230px;
    width: 320px;
    margin: 10px;
    margin-right: -5px;
    margin-left: -15px;
    transition-delay: 20ms;
}

.img:hover {
    filter: blur(3px) saturate(150%);
    cursor: pointer;
}