.container {
    display: flex;
    margin-right: 10px;
    margin-left: 60px;
    position: relative;
}
.imageText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 22px;
    transition: all .3s;
    letter-spacing: 1.25px;
    font-weight: bold;

}
.img{
    height: 230px;
    width: 320px;
    /*width: 260px;*/
    margin: 10px;
    margin-right: -5px;
    margin-left: -15px;
    transition-delay: 20ms;
}

.img:hover {
    filter: blur(3px) saturate(150%);
    cursor: pointer;
}