.eventTitle{
    font-size: 20px;
    max-width: 26ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 5px;


}
.eventBlock img {

    height: 340px;
    width: 260px;
}

.eventBlock p{
    font-size: 18px;
    margin: 5px;

}
