.header {
    width: 100%;
    height: 70px;
    background-color: #FBB02D;
    box-sizing: border-box;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 80px;
    margin-top: -8px;
    margin-left: -8px;
    z-index: 3;
}
.f_header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}
.header a {
    color: #000000;
    text-decoration: none;
    /*font-family: "Source Sans Pro";*/
    font-family: robotoregular,Roboto,Arial,Helvetica,sans-serif;
    font-weight: bold;
}

.f40 {
    font-size: 22px;
}
.f60 {
    font-size: 26px;
    font-weight: 900;
}
