.flex_container {
    border: 1px solid black;
    display: flex;
    width: 100%;

}


.left {
    border: 1px solid black;
    width: 70%;
    margin: 0 auto;
}

.right {
    border: 2px solid #73A24E;
    width: 20%;
    margin: 0 0 auto auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0 20px 0;
    line-height: 2rem;
}

.button {
    background-color: #73A24E;
    border: none;
    color: white;
    font-weight: 400;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    line-height: 1;
    box-sizing: border-box;
    width: 130px;
    height: 35px;
    border-radius: 4px;
    box-shadow: 3px 3px 2px gray;
}

.button:hover {
    background-color: #7ab949;
}

.nav {
    text-decoration: none;
    color: black;
}

.icon {
    margin-right: 5px ;
}
