.flex_container {
    /*border: 1px solid black;*/
    /*display: flex;*/
    /*width: 100%;*/

}
/*.left {*/
/*    border: 1px solid black;*/
/*    width: 60%;*/
/*    !*margin: 0 auto;*!*/
/*}*/


.button {
    background-color: #73A24E;
    border: none;
    color: white;
    font-weight: 400;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    line-height: 1;
    box-sizing: border-box;
    width: 130px;
    height: 35px;
    border-radius: 4px;
    box-shadow: 3px 3px 2px gray;
}

.button:hover {
    background-color: #7ab949;
}

.nav {
    text-decoration: none;
    color: black;
}

.icon {
    margin-right: 5px ;
}
.imageContainer{
    width: auto;
    height: 460px;
    margin-top: 15px;
    margin-left: 40px;
    margin-right: 55px;
}
.eventDisplay{
    display: flex;

}
.word {
    display: inline-block;
    border: 2px solid #73A24E;
    padding: 3px 5px;
    margin-top: 0;
    border-radius: 2px;
    width: auto;
    height: 15px;
    text-align: center;
    line-height: 1;
    font-size: 18px;
}
.eventDescription{
    /*border: 2px solid #73A24E;*/
    letter-spacing: 0.5px;
    font-size: 20px;
    width: 750px;
}
.container{
    display: flex;
    /*width: 100%;*/
    /*border: 2px solid #73A24E;*/
    /*margin-right: 60px;*/
}
.right {
    border: 2px solid #73A24E;
    width: 250px;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 50px;
    height: 230px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0 20px 0;
    line-height: 2rem;
    font-size: 20px;
    /*width: 50%;*/

}
.eventType{
    margin-top: -50px;
    margin-left: 790px;
    font-size: 16px;

}