:root {
    --header-color: #FBB02D;
    height: 100vh;
    max-width: 100%;
}
html{
    font-family: robotoregular,Roboto,Arial,Helvetica,sans-serif;
}
body {
    background-color: #FFFFFF;
    height: 100%;
    margin: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    /*margin: 0;*/
}
